name: ci
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
    name: Lint via Node {{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Pull dependencies and lint
        run: |
          npm ci
          npm run lint
